<%# Check if any active bookings else show a message. %>
<% if ! current_user.bookings.exists? %>
  <div>
    <h2>You don't have any bookings yet.</h2>
    <a class="btn btn-primary align-middle" href="<%= vehicles_path %>" role="button">Find a car</a>
  </div>
<% else %>
  <table class="table table-hover table-striped text-center">
  <thead>
    <tr>
      <th scope="col">Booking ID</th>
      <th scope="col">Brand</th>
      <th scope="col">Model</th>
      <th scope="col">Body Type</th>
      <th scope="col">Door Count</th>
      <th scope="col">Seat Count</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td scope="row" class="align-middle p-0"><%= booking.id %></td>
        <td scope="row" class="align-middle p-0"><%= booking.vehicle.brand %></td>
        <td scope="row" class="align-middle p-0"><%= booking.vehicle.model %></td>
        <td scope="row" class="align-middle p-0"><%= booking.vehicle.body_type %></td>
        <td scope="row" class="align-middle p-0"><%= booking.vehicle.door_count %></td>
        <td scope="row" class="align-middle p-0"><%= booking.vehicle.seat_count %></td>      
        <td scope="row"><a class="btn btn-primary btn-sm align-middle" href="<%= booking_path(booking.id) %>" role="button">Manage</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>