<% if @booking.user.id == current_user.id %>
  <h1>Manage booking</h1>
  <h2> <%= @booking.vehicle.brand %> <%= @booking.vehicle.model %> </h2>
  <%= image_tag @booking.vehicle.image, class: "w-50" if @booking.vehicle.image.attached? %>
  <p><h2>Booking details:</h2></p>
  <table class="table table-hover w-50">
    <tr>
      <th scope="row">Booking ID:</th>
      <td><%= @booking.id %></td>
    </tr>
    <tr>
      <th scope="row">Booking Date:</th>
      <td><%= @booking.created_at.strftime("Booking made on %d/%m/%Y at %I:%M %p") %></td>
    </tr>  
    <tr>
      <th scope="row">Body:</th>
      <td><%= @booking.vehicle.body_type %></td>
    </tr>
    <tr>
      <th scope="row">Doors:</th>  
      <td><%= @booking.vehicle.door_count %></td>      
    </tr>  
    <tr>
      <th scope="row">Seats:</th>
      <td><%= @booking.vehicle.seat_count %></td>
    </tr>
    </table>
    
    <button type="button" class="btn btn-danger mb-3" data-bs-toggle="modal" data-bs-target="#ConfirmDelete">Delete</button>

    <!-- Modal for ConfirmDelete-->
    <div class="modal fade" id="ConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="ConfirmDelete" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ConfirmDelete">Delete booking</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <%= link_to 'Delete', delete_booking_path(@booking.id), method: :delete, class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
    </div>
<% else %>
  <%= render 'shared/unauthorised' %>
<% end %>

